/* General styling for all pages */

body {
    background: #EDE8F5;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #7091E6;
}

ul {
  margin: 0;
}

.bg-blue {
  background-color: #3D52A0;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Styling for Thread List, Thread Post List and User Posts Pages */
.thread-title p {
  color: #333333 !important;
}

.post-count {
  color: #333333;
}


.links a {
  color: #3D52A0;
  font-weight: bold;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.article-metadata a {
  color: #444444;
  font-weight: bold;
  text-decoration: none;
}

.article-metadata a:hover {
  text-decoration: underline;
  color: #3D52A0;
}

.article-title {
  color: #444444;
}

.article a {
  text-decoration: none;
}

.article-content {
  color: #444444 !important;
  white-space: pre-line;
}

.article-subheading {
  font-weight: bold;
}

.article-metadata {
  font-size: small;
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.author-img {
  height: 40px;
  width: 40px;
}

.post-author-img {
  height: 90px;
  width: 90px;
}

.author-name {
  color: #444444;
  font-size: small;
  font-weight: bold;
}

.author-info {
  width: 110px;
}

.post-count {
  min-width: 65px;
}

.img-container {
  width: 100%;
}

.error {
  color: #444444;
}

/* Styling for User pages */
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.logout {
  color: #444444;
}


